.cardList {
    /* background-color: #efe9f4; */
    background-color: #2b50aa; 
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    paddding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around; 
}
